.button {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 12px 20px;
    border-radius: 8px;
    background-color:rgba(0, 92, 185, 1);
    border: 1px solid transparent;
    cursor: pointer;
}

.button:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}

.button:not(:focus-visible) {
    outline: none;
}

.button:hover {
    background-color:rgba(0, 92, 185, .8);
}

.button.secondary {
    background-color: white;
    color: rgb(0, 92, 185);
    border: 1px solid rgb(0, 92, 185);
}

.button.secondary:hover {
    background-color:rgba(0, 92, 185, .2);
}

.button.black {
    background-color: black;
}

.button.secondary.black {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.button.secondary.black:hover {
    background-color:rgba(0, 0, 0, .2);
}